@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Gabriela", serif;
    font-size: 8vmin;
}

.bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}